<p>
    <mat-toolbar>
        <app-logo></app-logo>
        <span style="padding-left: 1%;">
            <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style"
            style="background-color: #a0a0a01f;">
                <mat-button-toggle value="underline" style="color: #1e2b34;" routerLink="/home">
                    Home</mat-button-toggle>
                <mat-button-toggle value="bold" style="color: #1e2b34;" routerLink="/employee">
                    Employees</mat-button-toggle>
                <mat-button-toggle value="italic" style="color: #1e2b34;" routerLink="/provider">
                    Providers</mat-button-toggle>
                <mat-button-toggle value="underline" style="color: #1e2b34;" routerLink="/invoicesin">
                    Invoices In</mat-button-toggle>
                <mat-button-toggle value="underline" style="color: #1e2b34;" routerLink="/invoicesout">
                    Invoices Out</mat-button-toggle>
                <mat-button-toggle value="underline" style="color: #1e2b34;" routerLink="/workingpoint">
                    Working Points</mat-button-toggle>
            </mat-button-toggle-group>
        </span>
        
        <span class="example-spacer"></span>

        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
        style="margin-right: 10px; background-color: #eaebed; border-color: white;">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
        style="margin-right: 10px; background-color: #eaebed; border-color: white;">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
</p>